	<div id="Breadcrumb">
		administra&ccedil;&atilde;o > <a href="/adm_cases/">cases</a>
	</div>
	<div id="Content">
		<span class="Titulo">Editar Case</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_adm_case_path%></li>
			<li class="Help"><a href="#">Ajuda</a></li>
		</div>
		
		<div id="Grid">
			<%=render :partial => "form"%>
		</div>
		<div class="Linha"></div>
	</div>

