			<%=render :partial => "layouts/right"%>			
			
			<div id="BoxLeft">
				<%=image_tag "titulos/contato.png", :alt => "Contato"%>
				<hr>
				<p class="texto">
					Sua mensagem foi enviada com sucesso!<br>
					<br>
					Em breve entraremos em contato.<br>
					<br>
					<i>Equipe <span class="vermelho">SATO7</span></i>
				</p>
			</div>
			
			