*
{
	font-family:Tahoma;
}

body, p, ul, li, img
{
	margin:0px;
	padding:0px;
}

a
{
	font-family:Tahoma;
	font-size:12px;
	color:#ededed;
	text-decoration:none;
}

a:hover
{
	color:#ed1c24;
}

img
{
	border:none;
}

hr
{
	color:#151515;

}

body
{
	text-align:center;
	background-color:#000;
	background-image:url('../images/bg_all.jpg');
	background-repeat:repeat-y;
	background-position:center center;
}

#Detalhe
{
	position:relative;
	width:100%;
	height:100%;
	background-image:url('../images/bg_site.jpg');
	background-repeat:no-repeat;
	background-position:center 557px;
}

#Geral
{
	position:relative;
	width:947px;
	margin:auto;
	text-align:left;
}

	#Geral #Header
	{
		position:relative;
		display:table;
		width:100%;
		height:90px;
		background-image:url('../images/header/bg_header.gif');
		background-repeat:repeat-x;
	}
	
		#Geral #Header .Logo
		{
			float:left;
		}
		
			#Geral #Header #Login img
			{
				vertical-align:middle;
			}
		
		#Geral #Header #Menu
		{
			position:absolute;
			top:58px;
			left:435px;
		}
		
		#Geral #Header #Login
		{
			text-align:right;
			color:#fff;
			font-size:12px;
		}
			
			#Geral #Header #Login span
			{
				font-weight:bold;
				color:#ed1c24;
			}
			
			#Geral #Header #Login input
			{
				vertical-align:middle;
			}
			
			
			#Geral #Header #Login .FormHeader
			{
				width:125px;
				height:17px;
				background-image:url('../images/header/bg_form.gif');
				background-repeat:no-repeat;
				border:none;
				color:#FFF;
				font-family:Tahoma;
				font-size:11px;
				padding-left:5px;
				padding-right:5px;
				
			}

		#Geral #DestaqueFlash, #Destaque
		{
			position:relative;
			width:100%;
			height:471px;
			margin-bottom:45px;
		}
		
		#Geral #DestaqueFlash
		{
			background-image:url('../images/bg_destaque.png');
			background-repeat:no-repeat;
			background-position:center;
		}
		
		#Geral #Destaque
		{
			margin-top:60px;
			height:455px;
			margin-bottom:0px;
		}
		
			#Geral #Destaque #Video
			{
				float:right;
				margin:0px 0px 20px 20px;
			}
		
		
		#Geral #Content
		{
			position:relative;
			display:table;
			width:100%;
		}
		
		#Geral #Content #BoxLeft
		{
			position:relative;
			width:610px;
			/*float:left;*/
			/*border:1px solid red;*/
		}
		
			#Geral #Content #BoxLeft #BoxInterna
			{
				margin-bottom:20px;
				padding-top:28px;
				/*border:1px solid red;*/
			}
		
		#Geral #Content #BoxLeft #Noticias
		{
			position:relative;
			width:619px;
			/*margin-right:57px;*/
			/*border:1px solid red;*/
		}
		
			#Geral #Content #BoxLeft #Noticias #Noticia
			{
				margin-top:17px;
				padding-bottom:17px;
				border-bottom:1px solid #2e2e2e;
				display:table;
				/*border:1px solid red;*/
			}
			
			#Geral #Content #BoxLeft #Noticias #Noticia .Foto
			{
				float:left;
				margin:0px 19px 0px 19px;
				height:100%;
			}
			
			#Geral #Content #BoxLeft #Noticias .Titulo
			{
				font-family:Tahoma;
				font-size:20px;
				color:#afabab;
			}
			
			#Geral #Content #BoxLeft #Noticias p
			{
				margin-top:14px;
				margin-bottom:17px;
				font-family:Tahoma;
				font-size:12px;
				color:#6e6e6e;
				/*border:1px solid red;*/
			}
			
			#Geral #Content #BoxLeft #Noticias img
			{
				vertical-align:middle;
			}
			
				#Geral #Content #BoxLeft #Noticias #TodasNoticias
				{
					margin-top:10px;
					background-color:#1b1b1b;
					height:16px;
					padding:5px;
					text-align:right;
					background-image:url('../images/home/detalhe_box.gif');
					background-repeat:no-repeat;
					background-position:left top;
					/*border:1px solid red;*/
				}
		
		#Geral #Content #BoxRight
		{
			position:relative;
			float:right;
			width:271px;
			/*border:1px solid red;*/
		}
		
		#Geral #Content #BoxRight #Siga
		{
			position:relative;
			width:271px;
			/*border:1px solid red;*/
		}
		
		#Geral #Content #BoxRight #Siga #Box
		{
			margin-top:28px;
			width:238px;
			padding:13px 17px 13px 17px;
			background-color:#080808;
			background-image:url('../images/home/detalhe_box.gif');
			background-repeat:no-repeat;
			background-position:left top;
			font-family:Tahoma;
			color:#6e6e6e;
			font-size:12px;
			display:table;
			/*border:1px solid red;*/
		}
		
			#Geral #Content #BoxRight #Siga #Box .Follow
			{
				float:right;
			}
			
			#Geral #Content #BoxRight #Siga #Box a, i
			{
				color:#e01b22;
			}
			
			#Geral #Content #BoxRight #Siga #Box a:hover
			{
				color:#fff;
			}
		
		#Geral #Content #BoxRight #TagCloud
		{
			position:relative;
			float:right;
			width:271px;
			margin-top:16px;
			/*border:1px solid red;*/
		}
		
		#Geral #Content #BoxRight #TagCloud #Box
		{
			width:238px;
			padding:13px 17px 13px 17px;
			background-color:#080808;
			font-family:Tahoma;
			color:#6e6e6e;
			font-size:12px;
			display:table;
			/*border:1px solid red;*/
		}
		
		#Geral #Content #BoxRight #TagCloud  .ZeroPorcento
		{
			font-size:12px !important;
			color:#6e6e6e;
		}
		
		#Geral #Content #BoxRight #TagCloud .CiquentaPorcento
		{
			font-size:17px !important;
			color:#6e6e6e;
		}
		
		#Geral #Content #BoxRight #TagCloud .CemPorcento
		{
			font-size:22px !important;
			color:#6e6e6e;
		}
		
#Geral #Footer
{
	border-top:1px solid #2e2e2e;
	margin-top:45px;
	padding-top:4px;
	padding-bottom:20px;
}

	#Geral #Footer p
	{
		font-size:11px;
		color:#a7a7a7;
	}
	
	#Geral #Footer a
	{
		font-size:11px;
		color:#a7a7a7;
		float:right;
	}
	
		#Geral #Footer a:hover
		{
			color:#ed1c24;
		}
		
/*CLASSES*/
#caseslist p
{
	font-family:Tahoma;
	font-size:12px;
	color:#6e6e6e;
	text-align:justify;
}

#caseslist strong
{
	color:#ed1c24;
}

.logoCliente
{
	border:4px solid #6b0000;
	padding:5px;
	margin-right:60px;
	margin-bottom:30px;
}
		
.texto
{
	font-family:Tahoma;
	font-size:12px;
	color:#6e6e6e;
	text-align:justify;
}

.tituloInterna
{
	margin-bottom:30px;
}

.Reflexo
{
	background-image:url('../images/bg_box.png');
	background-repeat:no-repeat;
	background-position:center 50px;
	
}

.tableForm
{
	font-family:Tahoma;
	font-size:12px;
	color:#6e6e6e;
}

.tableForm input, textarea
{
	border:1px solid #8a8a8a;
	background-color:#000000;
	color:#6e6e6e;
}

.botao
{
	color:#ed1c24 !important;
}


.errorExplanation
{
	background-color:#fed6d8;
	border:1px solid #f8c3c3;
	padding:12px;
}

	.errorExplanation h2
	{
		color:#ea1b23;
	}
	
	.errorExplanation p
	{
		color:#ea1b23;
	}
	
	.errorExplanation li
	{
		color:#ea1b23;
		margin-left:26px;
	}

	.vermelho
	{
		color:#ed1c24;
	}
