<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Email</title>
</head>
<body>
<b>Enviado em: </b><%= Time.now.to_s %><br />

<%= @corpo %>

</body>
</html>
